body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #2C3E50;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #1A242F;
}

header {
    background-color: #2980B9;
    color: white;
    text-align: center;
    padding: 100px 0 20px 0; /* Ajustado para compensar el menú fijo */
}

h1 {
    margin: 0;
}

main {
    padding: 120px 20px 20px 20px; /* Ajustado para compensar el menú fijo */
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="checkbox"] {
    margin-right: 10px;
}

form input[type="submit"] {
    background-color: #2980B9;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

form input[type="submit"]:hover {
    background-color: #1A242F;
}

a {
    color: #2980B9;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #1A242F;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2980B9;
    color: white;
}
